.timeline-item {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    width: 50%;

    &-content {
        width: 55%;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 3px solid white;
        border-bottom: none;
        border-left: none;
        border-right: none;
        color: white;

        .tag {
            width: 90px;
            height: 90px;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 2px;
            }
        }

        p {
            font-family: 'Sterilict', sans-serif ;
        }
    }
}   

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-right: 0px;
}

